.main-nav {
  padding-left: 40px;
  min-height: 70px;
}

.nav-logo-text {
  color: #fff;
}

.nav-logo-text:hover {
  color: #fff;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 380px;
  justify-content: space-between;
}

.main-menu a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}

.main-menu a.active {
  font-weight: bold;
  color: #fff;
}

.main-menu a:hover {
  color: #fff;
}

.nav-login-logout {
  display: none;
}

.nav-username {
  display: none;
}

@media (min-width: 768px) {
  .nav-login-logout {
    display: unset;
    color: #fff;
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .nav-login-logout {
    margin-right: 40px;
  }

  .nav-username {
    display: unset;
    margin-right: 20px;
  }

  .user-avatar-container {
    width: 40px; /* Defina a largura e altura desejadas para o contêiner da imagem */
    height: 40px;
    border-radius: 50%; /* Aplica o formato circular */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
  }
  
  .user-avatar {
    width: 100%; /* Garante que a imagem preencha todo o contêiner */
    height: auto;
  }
}
